#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  transition: transform 0.2s ease;
}

.header h1 {
  font-family: "Tektur", sans-serif;
  font-size: extralarge;
}

.logo {
  height: 8em;
  padding: 1.5em 0.5em;
}

.header:hover,
.header:focus {
  color: inherit;
  transform: scale(1.02); /* Increase the size by 5% */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
